.tree-item-content {
    background-position: center center;
    background-repeat: no-repeat;
}

.tree-item-content.perk-info {
    background-size: contain;
}

#class-base {
    background-image: url(../img/icons/classes/merc.png);
}

#class-medic {
    background-image: url(../img/icons/classes/medic.png);
}

#class-paramedic-1,
#class-paramedic-2,
#class-paramedic-3 {
    background-image: url(../img/icons/classes/paramedic.png);
}

#class-surgeon-1,
#class-surgeon-2,
#class-surgeon-3 {
    background-image: url(../img/icons/classes/surgeon.png);
}

#class-engineer {
    background-image: url(../img/icons/classes/engineer.png);
}

#class-sapper-1,
#class-sapper-2,
#class-sapper-3 {
    background-image: url(../img/icons/classes/sapper.png);
}

#class-supplier-1,
#class-supplier-2,
#class-supplier-3 {
    background-image: url(../img/icons/classes/supplier.png);
}

#class-sniper {
    background-image: url(../img/icons/classes/sniper.png);
}

#class-predator-1,
#class-predator-2,
#class-predator-3 {
    background-image: url(../img/icons/classes/predator.png);
}

#class-marksman-1,
#class-marksman-2,
#class-marksman-3 {
    background-image: url(../img/icons/classes/marksman.png);
}

#class-stormtrooper {
    background-image: url(../img/icons/classes/stormtrooper.png);
}

#class-destroyer-1,
#class-destroyer-2,
#class-destroyer-3 {
    background-image: url(../img/icons/classes/destroyer.png);
}

#class-juggernaut-1,
#class-juggernaut-2,
#class-juggernaut-3 {
    background-image: url(../img/icons/classes/juggernaut.png);
}

#class-support {
    background-image: url(../img/icons/classes/support.png);
}

#class-cleaner-1,
#class-cleaner-2,
#class-cleaner-3 {
    background-image: url(../img/icons/classes/cleaner.png);
}

#class-dominator-1,
#class-dominator-2,
#class-dominator-3 {
    background-image: url(../img/icons/classes/dominator.png);
}

#perk-bigBag-1 {
    background-image: url(../img/icons/perks/big-bag-1.png);
}

#perk-bigBag-2 {
    background-image: url(../img/icons/perks/big-bag-2.png);
}

#perk-bigBag-3 {
    background-image: url(../img/icons/perks/big-bag-3.png);
}

#perk-steelSkin {
    background-image: url(../img/icons/perks/steel-skin.png)
}

#perk-nopain-1 {
    background-image: url(../img/icons/perks/no-pain-1.png)
}

#perk-nopain-2 {
    background-image: url(../img/icons/perks/no-pain-2.png)
}

#perk-bigPockets {
    background-image: url(../img/icons/perks/big-pockets.png)
}

#perk-bomber {
    background-image: url(../img/icons/perks/launcher.png)
}

#perk-doctor {
    background-image: url(../img/icons/perks/doctor.png)
}

#perk-extraWeapon {
    background-image: url(../img/icons/perks/second-gun.png)
}

#perk-ammoBalance {
    background-image: url(../img/icons/perks/macedonian.png)
}

#perk-weaponCare-1 {
    background-image: url(../img/icons/perks/weapon-care-1.png)
}

#perk-weaponCare-2 {
    background-image: url(../img/icons/perks/weapon-care-2.png)
}

#perk-radioMines {
    background-image: url(../img/icons/perks/radio-mine.png)
}

#perk-moreRounds-1,
#perk-sniperMoreRounds-1
{
    background-image: url(../img/icons/perks/extra-rounds-1.png)
}

#perk-moreRounds-2,
#perk-sniperMoreRounds-2
{
    background-image: url(../img/icons/perks/big-pockets.png)
}

#perk-moreRounds-3,
#perk-sniperMoreRounds-3
{
    background-image: url(../img/icons/classes/supplier.png)
}

#perk-initiative {
    background-image: url(../img/icons/perks/reaction.png)
}

.stat-value {
    margin-top: 5px;
    padding-left: 25px;
    cursor: help;
    min-height: 20px;
    display: inline-block;
    background: url(../img/icons/stats/question.png) no-repeat left 2px;
}

#stat-hp,
#stat-bandageHp,
#stat-morphineHp {
    background-image: url(../img/icons/stats/hp.png);
}

#stat-damage {
    background-image: url(../img/icons/stats/damge.png);
}

#stat-ammo {
    background-image: url(../img/icons/stats/ammo.png);
}

#stat-rounds {
    background-image: url(../img/icons/stats/rounds.png);
}

#stat-god {
    background-image: url(../img/icons/stats/god.png);
}

#stat-shock {
    background-image: url(../img/icons/stats/shock.png);
}

#stat-speed {
    background-image: url(../img/icons/stats/speed.png);
}

#stat-reload {
    background-image: url(../img/icons/stats/reload.png);
}

#stat-bandage {
    background-image: url(../img/icons/stats/bandage.png);
}

#stat-bandageTime,
#stat-morphineTime {
    background-image: url(../img/icons/stats/time.png);
}

#stat-bandageQty,
#stat-morphineQty {
    background-image: url(../img/icons/stats/qty.png);
}

#stat-morphine {
    background-image: url(../img/icons/stats/morphine.png);
}

#stat-grenade {
    background-image: url(../img/icons/stats/grenade.png);
}

#stat-defuse {
    background-image: url(../img/icons/stats/defuse.png);
}

#stat-bomb {
    background-image: url(../img/icons/stats/bomb.png);
}

#stat-launcher {
    background-image: url(../img/icons/stats/launcher.png);
}

#stat-extraAmmo {
    background-image: url(../img/icons/stats/extra-ammo.png);
}

#stat-radioMine {
    background-image: url(../img/icons/stats/radio-mine.png);
}

#stat-extraWeapon {
    background-image: url(../img/icons/stats/extra-weapon.png);
}

#stat-ammoBalance {
    background-image: url(../img/icons/stats/balance.png);
}