/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
    height: 100%;
}

.top-menu {
    text-align: center;
    border: 2px solid #000;
    border-top: 0;
    border-radius: 0 0 15px 15px;
    padding: 10px;
}

.top-menu .menu-container {
    overflow: hidden;
    display: inline-block;
}

.top-menu .menu-item {
    float: left;
    border-right: 1px solid #000;
    padding-right: 10px;
}

.top-menu .menu-item:last-child {
    border: 0;
}

.top-menu a
{
    display: block;
    padding: 5px 15px;
}

.top-menu a:link,
.top-menu a:visited {
    color: #777;
}

.top-menu a:active,
.top-menu a:hover {
    color: #000;
}

.top-menu a.active
{
    color: #000;
    text-decoration: underline;
}

header, footer
{
    clear: both;
}

footer {
    padding-top: 50px;
}

#wrapper {
    min-height: 100%;
}

#wrapper {
    overflow: hidden;
    padding: 0 20px 20px;
    width: 1100px;
    margin: 0 auto;
    border: 1px solid #000;
    border-width: 0 15px;
    box-sizing: content-box;
}

#content {

}

#content.ng-enter, #content.ng-leave {
    -webkit-transition:0.3s linear all;
    transition:0.3s linear all;
}

#content.ng-enter { opacity: 0.2 }        /* starting animations for enter */
#content.ng-enter.ng-enter-active { opacity: 1 } /* terminal animations for enter */
#content.ng-leave { display: none }        /* starting animations for leave */
#content.ng-leave.ng-leave-active { display: none } /* terminal animations for leave */

p.epigraph {
    text-align: right;
    margin-bottom: 15px;
    width: 310px;
    float: right;
    overflow: hidden;
    font-style: italic;
}

div.pane {
    float: left;
    margin-right: 50px;
}

#stats-pane {
    width: 150px;
}

#perks-pane {
    width: 220px;
    margin-right: 0;
}

/* Tree item, containing another tree items */
.tree-item {
    float: left;
    text-align: center;
    position: relative;
    margin: 19px 0 0;
    padding: 0 2px;
}

.perk.tree-item {
    margin: 0;
}

/* Block with tree item content (e.g. icon) */
.tree-item-content {
    width: 40px;
    height: 40px;
    font-size: 10px;
    margin: 20px auto 0;
    position: relative;
    word-wrap: break-word;

    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;

    /* Not available by default */
    cursor: default;
    border: 2px solid red;
    border-radius: 22px;
    box-sizing: content-box;
}

.tree-item-content.available {
    border-color: #fff;
    cursor: pointer;
}

.tree-item-content.selected {
    cursor: pointer;
    border-color: rgb(0, 172, 23);
}

/* Some effects */
.tree-item-content.available:not(.selected):hover,
.tree-item-content.available:hover ~ .tree-wrapper > .tree-item > .tree-item-content {
    border-color: #4a67f8;
}

/* Child tree items wrapper */
.tree-wrapper {
    position: relative;
}

.tree-wrapper > .tree-item:only-child {
    margin-top: 0;
}

/* Perks */
#perks-pane .tree-item-content {
    margin-top: 0;
    margin-left: 20px;
}

.perk.root-tree-item {
    float: none;
}

#perks-pane .tree-wrapper,
#perks-pane .tree-item-content {
    float: left;
}

/* Connectors on the top of tree items */
.tree-item:before,
.tree-item:after,
    /* And on the bottom */
.tree-wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    border-top: 1px solid #ccc;
    width: 50%;
    box-sizing: border-box;
    height: 20px;
}

/* Remove left connector from first child and right connector from last child */
.tree-item:first-child:before,
.tree-item:last-child:after,
    /* And bottom connector doesn't need top border */
.tree-wrapper:after {
    border-top: 0;
}

/* Top line left */
.tree-item:before {
    left: 0;
}

/* Top line right + vertical line */
.tree-item:after,
    /* Bottom connector */
.tree-wrapper:after {
    left: 50%;
    border-left: 1px solid #ccc;
}

/* Hide connectors for root element */
.root-tree-item:after,
.root-tree-item:before {
    display: none;
}

#perks-pane .tree-wrapper:after,
#perks-pane .tree-item:after {
    display: none;
}

#perks-pane .tree-item-content {
    margin-top: 10px;
}

#perks-pane .tree-item:before {
    top: 5px;
    width: 20px;
    border-bottom: 1px solid #ccc;
}

/* Remove margins for root tree items */
.root-tree-item,
.root-tree-item > .tree-item-content {
    margin-top: 0;
}

/** ============== Stats pane ========= */
.stat-item .stat-item {
    margin-left: 20px;
}

.stat-value.title {
    font-weight: bold;
}

#stats-pane .cost .title {
    font-weight: bold;
}

/** ================= Tooltips ====================*/

.tree-tooltip {
    text-align: left;
    min-width: 200px;
}

.tree-tooltip h1 {
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 10px;
}

.tree-tooltip h2 {
    font-size: 1.15em;
    margin-top: 0;
    margin-bottom: 5px;
}

.tooltip-stat .tooltip-stat {
    margin-left: 10px;
}

/** ============= Misc =================*/
.loading-bar {
    text-align: center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
