<!DOCTYPE html>
<html class="no-js" ng-app="srms.sof.calculator">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SoF: class calculator</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/normalize.css">

    <!-- jQuery and AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <script src="js/vendor/ui-bootstrap-tpls-0.11.2.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <!-- Some other libs -->
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="js/vendor/jsonpath-0.8.0.js"></script>
    <script src="js/vendor/underscore-min.js"></script>

    <!-- Custom includes -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/icons.css">
    <script src="js/plugins.js"></script>

    <!-- Angular App -->
    <script src="app/app.js"></script>
    <script src="app/services/utils.js"></script>
    <script src="app/services/current-state.js"></script>
    <script src="app/services/data-source.js"></script>
    <script src="app/controllers/perks-tree.js"></script>
    <script src="app/controllers/classes-tree.js"></script>

</head>
<body>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a
        href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div id="wrapper" ng-controller="CalculatorCtrl as calculator">
    <h3>S.R.M.S. SoF Калькулятор имплантов v{{::calculator.version}}: {{appStatus}}</h3>

    <p>&copy; S.R.M.S. Steel Rats Mercenary Squad</p>

    <p><a href="https://github.com/treble-snake/srms.sof/issues/new" target="_blank">Отзывы,
        предложения, баг-репорты. Пожалуйста.</a></p>

    <div class="pane" id="stats-pane" ng-controller="StatsCtrl as ctrl">
        <h4><span>{{ctrl.getCurrentClass().name}}</span></h4>

        <div id="stats" ng-if="!_.isEmpty(ctrl.getStatValues())">
            <div stats-pane
                 stat-values="ctrl.getStatValues()"
                 stat-info="::ctrl.getStatsInfo()"></div>
        </div>
    </div>

    <div class="pane" id="classes-pane" ng-controller="ClassesCtrl as ctrl">
        <div id="class-tree">
            <h4>Базовые импланты</h4>

            <div class="class tree-item root-tree-item"
                 ng-repeat="(classId, classData) in ::ctrl.getAllClasses()"
                 ng-include="'classTreeItem'"></div>
        </div>
    </div>

    <div class="pane" id="perks-pane" ng-controller="PerksCtrl as ctrl">
        <h4>Аугментации</h4>

        <div id="perks">
            <div class="perk tree-item root-tree-item"
                 ng-repeat="(id, perk) in ::ctrl.getAllPerks()"
                 ng-include="'perkTreeItem'"></div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="perkTreeItem">
    <div class="perk-info tree-item-content" id="perk-{{id}}"
         ng-class="{available: ctrl.isPerkAvailable(perk), selected: perk.selected}"
         ng-disabled="!ctrl.isPerkAvailable(perk)"
         ng-click="ctrl.addPerk(id)"
         tooltip-html-unsafe="{{::ctrl.getPerkTooltip(id, perk)}}"
         tooltip-placement="left"
         tooltip-animation="false">
    </div>
    <div class="tree-wrapper" ng-show="::perk.sub">
        <div class="perk tree-item" ng-repeat="(id, perk) in ::perk.sub"
             ng-include="'perkTreeItem'"></div>
    </div>
</script>

<script type="text/ng-template" id="classTreeItem">
    <div class="class-info tree-item-content" id="class-{{classId}}"
         ng-class="{available: ctrl.isClassAvailable(classId), selected: ctrl.isClassSelected(classId)}"
         ng-disabled="!ctrl.isClassAvailable(classId)"
         ng-click="ctrl.setClass(classId, classData)"
         tooltip-html-unsafe="{{::ctrl.getClassTooltip(classId, classData)}}"
         tooltip-placement="left"
         tooltip-animation="false">
    </div>
    <div class="tree-wrapper" ng-show="::classData.sub">
        <div class="class tree-item" ng-repeat="(classId, classData) in ::classData.sub"
             ng-include="'classTreeItem'"></div>
    </div>
</script>

</body>
</html>
