<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SoF: class calculator</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <script src="js/vendor/jsonpath-0.8.0.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</head>
<body ng-app="MyModule">

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a
        href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div id="wrapper" ng-controller="ClassTree">
    <h3>SoF Calculator: {{hello}}</h3>

    <div>
        <div class="pane" id="left">
            <h4>Current class: <span ng-show="currentClass">{{currentClass.name}} [{{currentClass.id}}]</span></h4>

            <div id="stats">
                <!--<div ng-repeat="(stat, value) in currentStats">-->
                    <!--<span title="{{data.stats[stat].desc}}">{{data.stats[stat].name}}: {{value}} {{data.stats[stat].measure}}</span>-->
                <!--</div>-->
                <div ng-show="currentStats" stats-pane current-stats="currentStats" all-stats="data.stats"></div>
            </div>
        </div>
    </div>

    <div class="pane" id="right">
        <h4>Perks</h4>

        <div id="perks">
            <button class="classItem selected-{{perk.selected !== undefined && perk.selected}}"
                    ng-repeat="(id, perk) in data.perks" ng-click="addPerk(id)">{{perk.name}}
            </button>
        </div>
        <h4>Classes</h4>
        <ul id="classes">
            <li ng-repeat="(classId, classData) in data.classes" ng-include="'classTreeItem'"/>
        </ul>
    </div>
</div>

<script type="text/ng-template" id="classTreeItem">
    <button class="classItem selected-{{isSelected(classId)}}"
            ng-click="setClass(classId, classData)">{{classData.name}}
    </button>
    <ul>
        <li ng-repeat="(classId, classData) in classData.sub" ng-include="'classTreeItem'"></li>
    </ul>
</script>

</body>
</html>
