<div class="class tree-item" ng-class="{'root-tree-item': root}"
     ng-repeat="(id, classData) in itemsList">
    <div class="class-info tree-item-content" id="class-{{id}}"
         ng-class="{available: ctrl.isAvailable(id, classData), selected: ctrl.isSelected(id)}"
         ng-disabled="!ctrl.isAvailable(id, classData)"
         ng-click="ctrl.choose(id, classData)"
         tooltip-html-unsafe="{{::ctrl.getTooltip(id, classData)}}"
         tooltip-placement="left"
         tooltip-animation="false">
    </div>
    <div class="tree-wrapper" ng-if="::classData.sub">
        <div class-item data-items-list="::classData.sub"></div>
    </div>
</div>