<div class="stat-item" ng-repeat="stat in statValues | sortStats">

    <div class="sub-stats" ng-if="stats[stat.id].sub !== undefined">
        <div id="stat-{{stat.id}}" class="stat-value title"
             popover-title="{{::stats[stat.id].name}}"
             popover="{{::stats[stat.id].desc}}"
             popover-placement="right"
             popover-trigger="mouseenter">
            {{stats[stat.id].name}}:
        </div>
        <div stats-pane stat-values="stat.value" stat-info="::stats[stat].sub"></div>
    </div>

    <div ng-if="stats[stat.id].sub === undefined" id="stat-{{stat.id}}" class="stat-value"
         popover-title="{{::stats[stat.id].name}}"
         popover="{{::stats[stat.id].desc}}"
         popover-placement="right"
         popover-trigger="mouseenter">
        <span ng-if="!stat.value">{{stats[stat.id].name}}</span>
        <span ng-if="stat.value">{{stat.value}} {{stats[stat.id].measure}}</span>
    </div>
</div>