<div class="stat-item" ng-repeat="stat in statValues | sortStats">

    <div class="sub-stats" ng-if="stats[stat.id].sub !== undefined">
        <div class="stat-value title" title="{{stats[stat.id].desc}}">{{stats[stat.id].name}}:</div>
        <div stats-pane stat-values="stat.value" stat-info="::stats[stat].sub"></div>
    </div>

    <div ng-if="stats[stat.id].sub === undefined" id="stat-{{stat.id}}" class="stat-value"
         title="{{stats[stat.id].name}}: {{stats[stat.id].desc}}">
        <span ng-if="!stat.value">{{stats[stat.id].name}}</span>
        <span ng-if="stat.value">{{stat.value}} {{stats[stat.id].measure}}</span>
    </div>
</div>