<loadinfo data-error="ctrl.error" ng-if="!ctrl.getUser()"></loadinfo>

<div class="accountWrapper" ng-if="ctrl.getUser()">
    <h3>{{ctrl.getUser().name}}</h3>
    <b>Состояние счета:</b> ${{ctrl.getUser().money}}
    <br/>
    <button class="btn btn-info" ng-click="ctrl.addMoney()">Продать почку</button>

    <h4>Комплекты</h4>

    <div ng-controller="CalculatorCtrl as calculator">
        <loadinfo data-error="calculator.error" ng-if="!calculator.isReady"></loadinfo>
        <div ng-if="calculator.isReady">

            <button ng-if="ctrl.builds.length == 0" class="btn btn-success" ng-click="ctrl.addBuild()">
                <i class="glyphicon glyphicon-plus-sign"></i> Добавить</button>

            <div class="builds-wrapper" ng-if="ctrl.builds.length > 0">
                <tabset>
                    <tab ng-repeat="tab in ctrl.builds" heading="{{tab.name}}"
                         select="ctrl.initTree(tab)"
                         active="tab.active">
                        {{tab.text}}
                    </tab>
                    <tab class="add" select="ctrl.addBuild()"
                         disabled="ctrl.builds.length > 9">
                        <tab-heading><i class="glyphicon glyphicon-plus-sign"></i> Добавить
                        </tab-heading>
                    </tab>
                </tabset>


                <div class="pane" id="stats-pane" ng-controller="StatsCtrl as sCtrl">
                    <div ng-if="sCtrl.getCurrentClass()">
                        <h4>{{sCtrl.getCurrentClass().name}}</h4>

                        <div class="cost">
                            <span class="title">Бюджет:</span> ${{sCtrl.getCost()}}
                        </div>

                        <div class="build-controls">
                            <button class="btn btn-sm btn-info" popover="Редактировать"
                                    popover-placement="top" popover-trigger="mouseenter"
                                    ng-click="ctrl.editBuild()">
                                <i class="glyphicon glyphicon-cog"></i></button>
                            <button class="btn btn-sm btn-warning" popover="Продать"
                                    popover-placement="top" popover-trigger="mouseenter">
                                <i class="glyphicon glyphicon-usd"></i></button>
                            <button class="btn btn-sm btn-danger" popover="Удалить"
                                    popover-placement="top" popover-trigger="mouseenter"
                                    ng-click="ctrl.deleteBuild()">
                                <i class="glyphicon glyphicon-remove"></i></button>
                        </div>
                    </div>

                    <div id="stats" ng-if="!_.isEmpty(sCtrl.getStatValues())">
                        <div stats-pane
                             data-stat-values="sCtrl.getStatValues()"
                             data-stat-info="::sCtrl.statsInfo"></div>
                    </div>
                </div>

                <div class="pane" id="classes-pane">
                    <h4>Базовые импланты</h4>

                    <div id="class-tree" ng-controller="ClassesCtrl as ctrl"
                         ng-init="ctrl.init()">
                        <div class-item data-root="true"
                             data-current-items="::ctrl.baseClassId"></div>
                    </div>
                </div>

                <div class="pane" id="perks-pane">
                    <h4>Аугментации</h4>

                    <div id="perks" ng-controller="PerksCtrl as ctrl">
                        <div perk-item data-root="true"
                             data-items-list="::ctrl.topLevelIds"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>