<h3>Калькулятор имплантов</h3>

<loadinfo data-error="calculator.error" ng-if="!calculator.isReady"></loadinfo>

<div ng-if="calculator.isReady">

    <div class="pane" id="stats-pane" ng-controller="StatsCtrl as ctrl">
        <div ng-if="ctrl.getCurrentClass()">
            <h4>{{ctrl.getCurrentClass().name}}</h4>

            <div class="cost"><span class="title">Бюджет:</span> ${{ctrl.getCost()}}</div>
        </div>

        <div id="stats" ng-if="!_.isEmpty(ctrl.getStatValues())">
            <div stats-pane
                 data-stat-values="ctrl.getStatValues()"
                 data-stat-info="::ctrl.statsInfo"></div>
        </div>
    </div>

    <div class="pane" id="classes-pane">
        <h4>Базовые импланты</h4>

        <div id="class-tree" ng-controller="ClassesCtrl as ctrl" ng-init="ctrl.init()">
            <div class-item data-root="true" data-current-items="::ctrl.baseClassId"></div>
        </div>
    </div>

    <div class="pane" id="perks-pane">
        <h4>Аугментации</h4>

        <div id="perks" ng-controller="PerksCtrl as ctrl">
            <div perk-item data-root="true" data-items-list="::ctrl.topLevelIds"></div>
        </div>
    </div>
</div>
