<div class="class tree-item" ng-class="{'root-tree-item': root}" ng-repeat="id in currentItems">
    <div class="class-info tree-item-content" id="class-{{id}}"
         ng-class="{
            notAvailable: !ctrl.isAvailable(id),
            selected: ctrl.isSelected(id),
            notAffordable: !ctrl.isAffordable(id),
            purchased: ctrl.isPurchased(id)
         }"
         ng-disabled="!ctrl.isAvailable(id)"
         ng-click="ctrl.choose(id)"
         tooltip-html-unsafe="{{::ctrl.getTooltip(id)}}"
         tooltip-placement="left"
         tooltip-animation="false">
    </div>
    <div class="tree-wrapper" ng-if="::ctrl.getClass(id).children">
        <div class-item
             data-restricted-mode="restrictedMode"
             data-build-id="buildId"
             data-current-items="::ctrl.getClass(id).children"></div>
    </div>
</div>