<h3>О проекте</h3>
<p class="epigraph">
    Свет с Венеры отразился от верхних слоёв атмосферы и вызвал взрыв болотного газа.
    <br/>Агент Джей.
</p>
<div class="clearfix"></div>
<p>Недалекое будущее.<p>
<p>С помощью новейших технологий был обнаружен новый вид ресурса - назовем его пока тибериум ;) - позволяющий создавать
    очень мощные и компактные источники энергии.</p>
<p>С открытием тибериума произошел резкий скачок в области биотехнологий - стали реальностью импланты, значительно
    расширяющие физические и интеллектуальные возможности человека.</p>
<p>Однако, источники ресурса нестабильны - они появляются в случайных местах планеты на небольшое время.</p>
<p>Рынок по добыче тибериума захвачен несколькиими мировыми корпорациями, которые ведут настояющую войну за добычу,
    используя отряды наемников из "улучшенных" бойцов.</p>