<div class="modal-header">
    <h3 class="modal-title">Добавление билда</h3>
</div>
<form  novalidate name="AddBuildForm" ng-submit="$close(buildName)">
    <div class="modal-body">
        <alert type="info" ng-if="itemsQty == 0">Введите название для вашего первого билда. Его можно будет
        изменить позже.</alert>
        <label for="buildName">Название:</label>
        <input id="buildName" type="text" required ng-model="buildName" name="buildName"/>
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Добавить"
               ng-click="$close(buildName)" ng-disabled="AddBuildForm.$invalid">
        <button class="btn btn-warning" ng-click="$dismiss()">Отмена</button>
    </div>
</form>